.users-container {
    .title {
        text-align: center;

        .title-manage-user {
            color: red;
            font-size: 25px;
        }
    }

    .users-table {
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;

            th,
            td {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }

            .btn-edit {
                background-color: transparent;
                border: none;
                cursor: pointer;
                color: #0ace37;
                font-size: 1.2rem;

                &:hover {
                    background-color: transparent !important;
                    color: #0a8d26 !important;
                }
            }

            .btn-delete {
                background-color: transparent;
                border: none;
                cursor: pointer;
                color: #e71b1b;
                font-size: 1.2rem;

                &:hover {
                    background-color: transparent !important;
                    color: #b71515 !important;
                }
            }
        }
    }
}

.modal-user-container {
    .modal-header {
        button {
            background-color: transparent;
            border: none;
            color: white;
            font-size: 35px;
        }
    }

    .modal-user-body {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;

        .input-container {
            display: flex;
            flex-direction: column;
            width: 49%;

            &.max-width-input {
                width: 99.3%;
            }

            &.on-row {
                width: 32.2%;
                display: flex;
            }

            .select-option {
                border-radius: 3px;
                border: 1px solid grey;
                height: 30px;
                outline: none;
                padding: 0 10px;
            }

            input {
                border-radius: 3px;
                border: 1px solid grey;
                height: 30px;
                outline: none;
                padding: 0 10px;
            }
        }
    }
}