.about-container {
    justify-content: center;
    align-items: center;
    padding: 20px 0;

    .about-content {
        width: 100%;
        text-align: center;
        border-radius: 12px;

        .video-row {
            display: flex;
            justify-content: space-between;
            gap: 20px;
            flex-wrap: wrap;

            .video-wrapper {
                flex: 1;
                aspect-ratio: 16 / 9;
                position: relative;
                border-radius: 10px;
                overflow: hidden;
                box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);

                iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border: none;
                }
            }
        }
    }
}