.product-container {
    max-width: 100%;
    text-align: center;

    .product-slider {
        .slick-track {
            display: flex !important;
        }

        .slick-slide {
            padding: 15px 5px;
            box-sizing: border-box;
        }

        .product-card {
            cursor: pointer;
            background-color: #fff;
            border-radius: 12px;
            transition: transform 0.3s;
            border: none;
            outline: none;

            &:hover {
                transform: translateY(-5px);
            }

            img {
                width: 100%;
                height: 200px;
                object-fit: cover;
                border-radius: 8px;
            }
        }

        .slick-prev,
        .slick-next {
            width: 40px;
            height: 40px;
            z-index: 2;
        }

        .slick-prev:before,
        .slick-next:before {
            font-size: 50px;
            color: #ffd600;
        }
    }
}