@import "../../styles/common.scss";

.header-container {
    z-index: 99;
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 184, 51);
    color: white;
    height: 40px;
    position: relative;

    .header-tabs-container {
        background-color: #ff6600;
    }

    .btn-signout {
        line-height: 40px;
        height: 40px;
        padding: 0 10px;
        color: red;
        background-color: #eeff00;

        &:hover {
            background-color: darken(#eeff00, 5);
        }

        i {
            font-size: $base-size + 1px;
        }
    }
}