.Support-container {
    background: white;

    .tgdd-footer {
        padding: 15px 0;
        max-width: 1200px; // hoặc 1024px, 1180px tuỳ theo thiết kế
        margin: 0 auto; // căn giữa theo chiều ngang
        width: 100%; // chiếm hết chiều ngang khung chứa
        box-sizing: border-box;
        font-size: 14px;
        color: #333;

        .footer-columns {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 30px;

            .column {
                flex: 1;

                h4 {
                    font-size: 16px;
                    font-weight: bold;
                    margin-bottom: 10px;
                }

                p,
                a {
                    margin: 10px 0;
                    color: #333;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                .site-links {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 8px;

                    span {
                        background: #ddd;
                        padding: 4px 10px;
                        border-radius: 4px;
                        font-size: 13px;
                    }
                }

                .social {
                    margin-top: 10px;

                    span {
                        display: inline-block;
                        margin-right: 12px;
                    }
                }
            }
        }

        .footer-bottom {
            font-size: 12px;
            color: #666;
        }
    }

}